.wd-marg-b-0 {
    margin-bottom: 0;
}

.wd-grid-col-left-sidebar {
    width: 3%;
    float: left;

}

.wd-grid-col-main-content {
    width: 93%;
    float: left;
    /* padding-left: 16px;*/
}

.wd-grid-col-main-content-95 {
    width: 94.12%;
    float: left;
    /* padding-left: 16px;*/
}

.wd-float-left {
    float: left;
}

.wd-text-dec-none {
    text-decoration: none;
}

.wd-color-inherit {
    color: inherit;
}

.wd-grid-col-right-sidebar {
    width: 2%;
    float: left;

}

.wd-color-white {
    color: white;
}

.wd-ft-tuiter {
    font-family: sans-serif;
}

.wd-ft-wt-bld {
    font-weight: bold;
}

.wd-color-highlight {
    color: rgb(29,161,242);
}

.wd-color-lk-gray {
    color: rgb(110,118,125);
}

.wd-bg-color-black{
    background-color: black;
}

.wd-margin-left-16px {
    margin-left: 16px;
}

.wd-width-80-per {
    width: 80%;
}

.wd-rounded-corners-all-around {
    border-radius: 50px;
}

.wd-rounded-18 {
    border-radius: 18px;
}
